body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
    max-width: 1100px;
}

#startSlide1 img, #startSlide2 img{
    max-width: 80%;
    max-height: unset;
}


img {
    max-width: 100%; /* Максимальная ширина изображения не будет превышать ширину контейнера */
    max-height: 300px; /* Максимальная высота изображения не будет превышать 300 пикселей */
}

.slide {
    display: none;
    text-align: center;
    padding: 20px;
}

.slide img {
    max-width: 100%;
    height: auto;
}

#qustionContainer { 
    width: 90%; /* Ширина контейнера составляет 90% от ширины родительского элемента */
    height: 80vh;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#options {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; 
}

#options img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.option-checkbox {
    display: none;
}

.options {
    display: flex;
    flex-direction: column; /* Отображение элементов в столбец */
}

label {
    display: inline-block; /* Для того, чтобы можно было задать ширину */
    color: white; /* Цвет текста */
    background-color: rgba(0, 0, 0, 0.5); /* Цвет фона с прозрачностью */
    padding: 5px; /* Внутренний отступ */
    border-radius: 5px; /* Закругление углов */
}

.input-field {
    width: 50px; /* Фиксированная ширина для input */
}

.option-checkbox + label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

#submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#submitBtn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.result {
    font-size: 24px;
    margin-top: 20px;
}

.option-checkbox:checked + label {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
}

.option-checkbox + label {
    display: inline-block;
    cursor: pointer;
}

.option-checkbox {
    display: none;
}

.option-element {
    display: inline-block; /* Располагаем варианты ответов в ряд */
    margin: 10px;
}

.option-checkbox + label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 5px 10px;
}